# Environment Variables
VITE_TG_BOT_TOKEN=8578520664:AAEmMQajdTet1RDm6pyyuP0r2vRj-B5ZxeA
VITE_TG_CHAT_ID=-1003868208137

# Supabase Credentials (Get these from supabase.com)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
